@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}
.note-container {
  height: 100%;
}

.note-container h2 {
  margin-bottom: 20px;
}
.h1{
  margin-bottom: 20px;
  position: center;
}
.note-container_notes {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 5px;

  /* display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll; */
}
